In [1]:
import pandas as pd
import numpy as np
import  matplotlib.pyplot as plt
import seaborn as sn

In [3]:
headers = list(pd.read_csv("student-mat-headers.csv") )
data = pd.read_csv("student-mat.csv", names=headers, index_col=False, skiprows = [0], delimiter=";") 
# Preview the first 5 lines of the loaded data 
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
# creating a dict file  
school_dict = {'GP': 1,'MS': 0} 
sex_dict = {'M': 1,'F': 0} 
address_dict = {'U': 0,'R': 1} 
famsize_dict = {'LE3' : 0, 'GT3': 1} 
pstatus_dict = {'T': 0,'A': 1} 
mjob_dict = {'teacher': 0, 'health' : 1,'services' : 2, 'at_home' : 3, 'other': 4}
fjob_dict = {'teacher': 0, 'health' : 1,'services' : 2, 'at_home' : 3, 'other': 4}
reason_dict = {'home': 0,'reputation': 1, 'course': 2, 'other': 3}
guardian_dict = {'mother': 0, 'father': 1, 'other': 2}
schoolsup_dict = {'yes': 1, 'no': 0}
famsup_dict = {'yes': 1, 'no': 0}
paid_dict = {'yes': 1, 'no': 0}
activities_dict = {'yes': 1, 'no': 0}
nursery_dict = {'yes': 1, 'no': 0}
higher_dict = {'yes': 1, 'no': 0}
internet_dict = {'yes': 1, 'no': 0}
romantic_dict = {'yes': 1, 'no': 0}

In [15]:
data.school = [school_dict[item] for item in data.school] 
data.sex = [sex_dict[item] for item in data.sex]
data.address = [address_dict[item] for item in data.address]
data.famsize = [famsize_dict[item] for item in data.famsize]
data.Pstatus = [pstatus_dict[item] for item in data.Pstatus]
data.Mjob = [mjob_dict[item] for item in data.Mjob]
data.Fjob = [fjob_dict[item] for item in data.Fjob]
data.reason = [reason_dict[item] for item in data.reason]
data.guardian = [guardian_dict[item] for item in data.guardian]
data.schoolsup = [schoolsup_dict[item] for item in data.schoolsup]
data.famsup = [famsup_dict[item] for item in data.famsup]
data.paid = [paid_dict[item] for item in data.paid]
data.activities = [activities_dict[item] for item in data.activities]
data.nursery = [nursery_dict[item] for item in data.nursery]
data.higher = [higher_dict[item] for item in data.higher]
data.internet = [internet_dict[item] for item in data.internet]
data.romantic = [romantic_dict[item] for item in data.romantic]

KeyError: 1

In [19]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,0,18,0,1,1,4,4,3,0,...,4,3,4,1,1,3,6,5,6,6
1,1,0,17,0,1,0,1,1,3,4,...,5,3,3,1,1,3,4,5,5,6
2,1,0,15,0,0,0,1,1,3,4,...,4,3,2,2,3,3,10,7,8,10
3,1,0,15,0,1,0,4,2,1,2,...,3,2,2,1,1,5,2,15,14,15
4,1,0,16,0,1,0,3,3,4,4,...,4,3,2,1,2,5,4,6,10,10

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]